@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Righteous&display=swap');

*{

    box-sizing: border-box;
    font-family: 'work sans';
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;

}
/*menu*/    

.contenedor-header{
    background: #1B2631;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Libre Barcode 39 Text';
    font-size: 36px;
    color: #E74C3C;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color:whitesmoke;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #E74C3C;

}
.nav-responsive{
    background-color: #E74C3C;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*inicio*/
.inicio{
    background: linear-gradient(150deg, #FF3333, #E67E22);
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items: center;

}
.inicio .contenedor-banner{
    padding: 20px;
    background-color: #1C2833;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 10px solid #FF3333;
    display: block;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 42;
    font-family: 'Righteous';
}
.inicio .contenedor-banner h3{
    font-size: 15;
    font-weight: normal;
    font-family: 'Righteous';
}
.inicio .contenedor-banner .redes a{
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;

}
.inicio .contenedor-banner .redes a:hover{
    background-color: #FF3333;
}
.perfil{
    background-color: #2C3E50;
    color: whitesmoke;
    padding: 50px 20px;
}
.perfil .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.perfil h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    font-weight: normal;
    padding: 20px 0;
}
.perfil .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.perfil .contenido-seccion p span{
    color: #FF3333;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Seccion experiencia */
.Experiencia-seccion-container{
    background-color: #99A3A4;
    color: #FF3333;
    padding: 50px 20px;
}

.Experiencia-seccion {
    margin: 50px auto;
  }
  .Experiencia-seccion h2 {
    color: #FF3333;
    font-size: var(--SectionTitleSize);
    margin-bottom: 30px;
  }
  
  .Experiencia-seccion h2 svg {
    width: 20px;
    height: 20px;
  }
  
  /* ul */
  .experiencia-Lista {
    border-inline-start: 1px solid white;
    position: relative;
  }
  
  .experienca-objeto-Lista {
    padding-left: 20px;
    padding-bottom: 40px;
    font-family: 'Righteous';
  }
  
  .experienca-objeto-Lista time {
    color: #FF3333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .experienca-objeto-Lista time h3 {
    color: #FF3333;
    font-size: var(--ExperienciaTitleSize);
    text-wrap: pretty;
  }
  
  .experienca-objeto-Lista p {
    color: #FF3333;
    margin: 0 0 30px 0;
    font-size: var(--ExperienceParagraphSixe);
    font-family: 'Righteous';
    font-weight: normal;
  }
  
  .experienca-objeto-Lista a {
    background-color: whitesmoke;
    padding: 10px 25px;
    border-radius: 10px;
  
    font-weight: 700;
    color: black;
  
    width: max-content;
  
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .experienca-objeto-Lista a:hover {
    color: rgb(82, 152, 196);
  }
  .circulo-decorativo-Lista {
    height: 10px;
    width: 10px;
    background-color:#FF3333;
    border-radius: 50%;
    position: absolute;
  
    left: -5px;
    margin-top: 7px;
  }
  /*tabla*/

  body{
	background-color: #FF3333;
	font-family: Arial, Helvetica, sans-serif;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #2C3E50;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #E67E22;
	color: white;
}

/*footer*/

.footer{
    background-color: #E74C3C;
    padding: 1em 0;
    text-align: center;
    position: relative;
    width: 100%;
    padding-bottom: 3em;
    
}
.footer .redes{
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;
    
}
.footer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}